.container {
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.card {
  width: 520px;
}

.actions {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}