.header {
    position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 12px 16px;
  border-bottom: 1px solid #eee;
  z-index: 100;
}

.logo {
  text-decoration: none;
}

.title {
  margin: 0 !important;
  color: #000;
}

.rightMenu {
  margin-left: auto;
  display: flex;
  align-items: center;
}

/* .cartIcon {
  font-size: 20px;
}
 */

